/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullscreenDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #08a44c;
    background-image: url('./assets/table.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min(93vw, 160vh);
    height: min(65vw, 100vh);
    max-height: 100vh;
}

.balance {
    font-size: min(4vw, 5vh);
    margin-top: 2%;
}

.bets {
    margin-bottom: 2%;
    display: flex;
    gap: min(2.5vw, 2.5vh);
    align-items: center;
}

.bets button {
    font-size: min(3vw, 4vh);
    border-radius: 10px;
    font-family: 'sans-serif';
    width: min(7vw, 12vh);
}

.bets button:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: aqua;
}

.currentBet {
    font-size: min(3vw, 4vh);
    padding-left: 15%;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 14%;
    height: 50%;
}

.cards img {
    height: min(15vw, 15vh);
    width: auto;
}

.dealerDiv {
    display: flex;
    margin-left: 38%;
    gap: 2%
}

.dealerDiv p {
    font-size: min(4vw, 5vh);
    font-family: sans-serif;
}

.playerDiv {
    display: flex;
    margin-left: 38%;
    gap: 2%;
}

.playerDiv p {
    font-size: min(4vw, 5vh);
    font-family: sans-serif;
}

.hidden {
    visibility: hidden;
}

.remove {
    display: none;
}

.logic {
    margin-bottom: 2%;
    display: flex;
    gap: min(2.5vw, 2.5vh);
    align-items: center;
    padding-left: 36%;
}

.logic button {
    font-size: min(3vw, 4vh);
    border-radius: 10px;
    font-family: 'sans-serif';
    width: min(7vw, 12vh);
}

.red {
    background-color: red;
    cursor: pointer;
}

.green {
    background-color: lightgreen;
    cursor: pointer;
}






